<h1>Welcome to Massage reservation</h1>

<h2>Available Massages</h2>
<ul>
    <% @massages.each do |massage| %>
      <li>
        <strong><%= massage.name %></strong> - <%= number_to_currency(massage.price) %> (<%= massage.duration %> minutes)
        <p><%= massage.description %></p>
        <% if user_signed_in? %>
          <%= link_to "Select", new_reservation_path(massage_id: massage.id), method: :get %>
        <% else %>
          <p>Log In to reserv</p>
        <% end %>
      </li>
    <% end %>
</ul>